.form {
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
}

.div{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 75%;
}

.submit{
    width: 60%;
    margin: 0 auto;
    margin-top: 10%;
    border: #49a09d;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    border: 1px solid white;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
}

@media (max-width: 860px) {
    .form{
        height: 60%;
        width: 60%;
    }
  
    .div{
        height: 100%;
        width: 100%;
    }

      @media(max-height:700px){
        .form{
            height: 70%;
        }
      }
      @media (max-height: 600px) {
        .form{
            height: 85%;
        }
      }
  }

  